<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>loginservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservice</servlet-name>
		<url-pattern>/rejseafregningssystem/loginservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>dageinfoservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.DageInfoDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dageinfoservice</servlet-name>
		<url-pattern>/rejseafregningssystem/dageinfoservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ansatteservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.AnsatteDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ansatteservice</servlet-name>
		<url-pattern>/rejseafregningssystem/ansatteservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>afdelingerservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.AfdelingerDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>afdelingerservice</servlet-name>
		<url-pattern>/rejseafregningssystem/afdelingerservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dawaservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.DAWA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dawaservice</servlet-name>
		<url-pattern>/rejseafregningssystem/dawaservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>bankservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.BankDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bankservice</servlet-name>
		<url-pattern>/rejseafregningssystem/bankservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>rejseafregningservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.RejseafregningDAO
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rejseafregningservice</servlet-name>
		<url-pattern>/rejseafregningssystem/rejseafregningservice
		</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>rejseservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.RejseDAO</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rejseservice</servlet-name>
		<url-pattern>/rejseafregningssystem/rejseservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>projektopgaveservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.ProjektOpgaveDAO
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>projektopgaveservice</servlet-name>
		<url-pattern>/rejseafregningssystem/projektopgaveservice</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>filesystemservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.FileSystemDAO
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>filesystemservice</servlet-name>
		<url-pattern>/rejseafregningssystem/filesystemservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>bilagservice</servlet-name>
		<servlet-class>dk.dtu.smmac.server.dal.BilagDAO
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bilagservice</servlet-name>
		<url-pattern>/rejseafregningssystem/bilagservice</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Rejseafregningssystem.html</welcome-file>
	</welcome-file-list>

</web-app>
