/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #c7b4ee;
	margin: 40px 0px 70px;
	text-align: center;
}

.alignRight {
	float: right !important;
	padding: 5px;
}

.docklayout-panel {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	horizontal-alignment: center;
	background-color: #ffffff;
}

.spacing {
	padding: 5px;
	color: black;
	margin-bottom: 10px;
}

.borderColor {
	border: 1px solid black;
}

.padding {
	padding: 10px;
}

.paddingButtom {
	padding-bottom: 10px;
}

.paddingTop {
	padding-top: 10px;
}

.marginRight {
	margin-right: 10px;
}

.marginButtom {
	margin-bottom: 10px;
}

.marginTop {
	margin-top: 10px;
}

.margin {
	margin: 10px;
}

.invisibleButton {
	visibility: hidden;
}

.anchorStyle {
	color: black;
}

.center {
	vertical-align: middle;
}

table.flextable td:nth-child(1){
	hight: 40px;
}

table.flextable td:nth-child(2) {
	hight: 40px;
}

table.flextable td:nth-child(3) {
	height: 40px;
}

table.flextable td:nth-child(4) {
	height: 40px;
}

.navView {
	padding: 10px;
	height: 150px;
}

.boldText {
	font-weight: bold;
}

.alignButtomRight {
	margin-left: 90%;
	margin-top: 70%;
}