/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #c7b4ee;
	margin: 40px 0px 70px;
	text-align: center;
}

.alignRight {
	float: right !important;
	padding: 5px;
}

.docklayout-panel {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	horizontal-alignment: center;
	background-color: #ffffff;
}

.spacing {
	padding: 5px;
	color: black;
	margin-bottom: 10px;
}

.borderColor {
	border: 1px solid black;
}

.padding {
	padding: 10px;
}

.paddingButtom {
	padding-bottom: 10px;
}

.paddingTop {
	padding-top: 10px;
}

.marginRight {
	margin-right: 10px;
}

.marginRightLeft {
	margin-right: 10px;
	margin-left: 10px;
}

.marginButtom {
	margin-bottom: 10px;
}

.marginBottom30px{
	margin-bottom: 30px;
}

.marginTop {
	margin-top: 10px;
}

.margin {
	margin: 10px;
}

.invisibleButton {
	visibility: hidden;
}

.anchorStyle {
	color: black;
	margin-top: 10px;
	font-size: 125%; 
	font-weight: bold;
}

.center {
	vertical-align: middle;
}

table.flextable td:nth-child(1){
	hight: 40px;
}

table.flextable td:nth-child(2) {
	hight: 40px;
}

table.flextable td:nth-child(3) {
	height: 40px;
}

table.flextable td:nth-child(4) {
	height: 40px;
}

table.flextable td:nth-child(5) {
	height: 40px;
}

table.flextable td:nth-child(6) {
	height: 40px;
}

.navView {
	padding: 10px;
	height: 150px;
}

.boldText {
	font-weight: bold;
}

.boldTextPlusMargin {
	font-weight: bold;
	margin-bottom: 10px;	
}

.alignButtomRight {
	margin-left: 90%;
	
}

.buttonNyKodeRight {
	height: 30px;
	width: 100px;
	margin-Right: 10px;
}

.buttonNyKodeLeft {
	height: 30px;
	width: 100px;
	margin-Left: 10px;
}

.buttomForside {
	height: 70px;
	width: 225px;
	margin-bottom: 20px;
}